<nav class="navbar fixed-top" style="--bs-breadcrumb-divider: '>'; background-color: #e3f2fd;    "
  aria-label="breadcrumb">
  <strong>
    <ol class="breadcrumb  ps-3 pt-3">
      <li class="breadcrumb-item  active">
        <a class="fs-6  link-secondary            link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          href="#">Home</a>
      </li>
      <li class="breadcrumb-item  active"><a
          class="fs-6 link-secondary          link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          href="#">Courses</a></li>
      <li class="breadcrumb-item  active"><a
          class="fs-6 link-secondary          link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          href="#">Course Details</a></li>
    </ol>
  </strong>



  <div class="container-fluid pt-2">
    <p class="text-dark   fs-1 " style="font-weight: 400 !important;">Starting SEO as your Home</p>
  </div>

</nav>
